rclone mount \
--read-only \
--allow-other \
--acd-templink-threshold 0 \
--stats 1s \
--buffer-size 1G \ --timeout 5s \ --contimeout 5s \ -v \
--log-file=/path to/logfile.log \
grcrypt:gcrypt /mnt/gcrypt
